/* stylelint-disable */

/* lato-regular - latin */
@font-face {
  font-family: 'JT Energy';
  font-style: normal;
  font-weight: 500;
  src: url('~assets/fonts/mf870879.ttf')  format('truetype');
}

@font-face {
  font-family: 'JT Energy';
  font-style: normal;
  font-weight: 900;
  src: url('~assets/fonts/mf870884.ttf')  format('truetype');
}
/* stylelint-enable */
